.page-content{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: tomato;
    transition: all .2s;
}

.sidenav{
    user-select: none;
    box-sizing: border-box;
    position: absolute;
    height: 100% ;
    background-color: #1b1b1b;
    transition: all .2s;
}

.sidenav ul{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    list-style: none;
}

.sidenav ul li{
    line-height: 35px;
    margin-top: 5px;
}

.sidenav ul li a{
    color: white;
    font-size: 14.5px;
    font-weight: 200;
    display: block;
    width: 100%;
    text-decoration: none;
    letter-spacing: 1px;
    
}

.active-link{
    color: white;
    background-color:orange;
    border-left-color:   white;
}

.sidenav ul li a:hover{
    color: white;
    background-color:orange;
    border-left-color:   white;
}

.sidenav ul li a:hover{
    color: white;
    background-color:orange;
    border-left-color:   white;
}

.sidenav ul ul{
    position: static;
}

.sidenav ul ul li{
    line-height: 30px;
    border-bottom: #e6e6e6;
}

.sidenav ul ul li a{
    padding-left: 40px;
}

.spaces-div{
    margin: 0px !important;
    padding: 0px !important;
}

fa-icon{
    padding-right: 12px;
}



.arrowUp{
    transition: transform 300ms ease;
    transform: rotate(180deg)
 }

 .arrowDow{
    transition: transform 300ms ease;
    transform: rotate(0deg)
 }

