.header {
    z-index: 1020;
    margin-bottom: 0;
}

.navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.navbar.navbar-light.bg-light {
    background: #fff !important;
}

.navbar img{
    width: 80px;
}